*{
    padding: 0;
    margin: 0;
}
header{
    width:100%;
    background-color: lightgrey;
    padding: 10px ;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
header .logo ,header .serch, header .cart{
    width:15%;
}

.logo img{
    width: 25%;
}
input{
    border-radius: 20px;
    width: 100%;
    padding: 10px;
    color: #364996;

}
.cart i{
    font-size: 25px;
    padding: 10px 0
    ;
    color: #364996;
}
header nav{
    width:55%;
}
nav ul{
    float: left;
    padding: 0 0 0px 30px;
    list-style: none;
}
nav ul li {
    display: inline-block;
    margin: 10px 15px;
}
ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #364996;
    text-transform: capitalize;
}
    
section{
    width:100%;
    margin:auto;
    background-color: lightsteelblue;
    padding: 50px 0;

}
 section .row{
     width:80%;
    margin:auto;

     display: flex;
     justify-content: space-between;
    
}
.row .box{
    width:32%;
    box-shadow: 0 2px 10px #364996;
    /* height: 500px; */
    border-radius: 28px;
}
.box .img-box{
    width:100%;
    background: url("https://d28rtuv7aawte3.cloudfront.net/uploads/thumbnails/course_thumbnails/course_thumbnail_efanew_42.jpg");
background-size: cover;
height: 250px;
    border-radius: 28px 28px 0 0;

}
.list{
    width: 90%;
    margin: auto;
    padding-top: 20px;
    box-sizing: border-box;
}
.list  .icon{
    text-align: center;
    width: 35px;
    height: 35px;
    background-color: rgba(255, 255, 255, 0.486);
    border-radius: 50%;
    padding: 10px ;
}
.icon i{
    font-size: 25px;
    color: gray;
    transition: .6s;
    line-height: 35px;

}
.icon:hover i{
    color: #364996;
}
.box .info{
    width: 100%;
    background: white;
    padding: 10px;
    box-sizing: border-box;
    height: 380px;
    border-radius: 0 0 28px 28px;
}
.info .sub-info1{
    width:100%;
    color: red;
    font-size: 20px;
    text-transform: capitalize;
    padding: 20px  12px;
    box-sizing: border-box;

   
}
.sub-info1 .head1{
    float: left;
    width: 50%;
}
.sub-info1 .head2{
    float: left;
    width: 50%;
    text-align: center;
}
.info .title
{
    box-sizing: border-box;
    font-size: 25px;
    width: 100%;
    color: black;
    text-transform: capitalize;
    padding: 12px;
}
.title span{
    font-weight: 600;
    color: #7A7C7E;
    font-size: 15px;
}
span i{
    color: yellow;
}
.info .sub-info2{
    width: 60%;
    margin: auto;
    color: #7A7C7E;
    font-weight: 100;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
    margin: 25px auto;
    font-size: 15px;

}
.sub-info2 h5{
    font-size: 25px;
    font-weight: bold;
    color: #959799;
}
button{
    border-radius: 27px;
    width: 170px;
    padding:  10px 13px;
    font-size: 20px;
    color: white;
    background-color: #0d6efd;
    border-color: #0d6efd;
    outline: none;
}
.sub-info1 .foot1{
    float: left;
    width: 50%;
}

.sub-info1 .foot2{
    float: left;
    width: 50%;
    text-align: center;
}